# Preprocessing the data

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("MovieGenre.csv")
data.columns = map(str.lower, data.columns)
data.rename(columns={'genre':'genres','imdbid':'movieId'},inplace=True)
data.dropna(inplace=True)
data.columns = data.columns.str.replace(' ', '_')
data.set_index('movieId',inplace=True)
print(data.shape)
data.drop_duplicates(inplace=True)
print(data.shape)
data.head()

(39246, 5)
(38654, 5)

,imdb_link,title,imdb_score,genres,poster
movieId,,,,,
114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

## Preparing Movies.csv

In [3]:
data1=data.copy()
#data1.drop(['imdb_link','poster'],1,inplace=True)
data1.to_csv('movies.csv')
data1.head()

,imdb_link,title,imdb_score,genres,poster
movieId,,,,,
114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

## Preparing Posters.csv

In [6]:
"""
data2=data.copy()
data2.drop(['title','imdb_score','genres'],1,inplace=True)
data2.to_csv("posters.csv")
data2.head()
"""

'\ndata2=data.copy()\ndata2.drop([\'title\',\'imdb_score\',\'genres\'],1,inplace=True)\ndata2.to_csv("posters.csv")\ndata2.head()\n'

## Preparing Genres.csv

In [4]:
data3=data.copy()
data3.drop(['imdb_link','title','imdb_score','poster'],1,inplace=True)
data3['genres']=data3.genres.str.split('|')

In [5]:
genres_df=data3.copy()
print(genres_df.head())
for index,row in data.iterrows():
    for genre in row['genres']:
        genres_df.at[index,genre]=1
genres_df.drop('genres',1,inplace=True)
genres_df.fillna(0,inplace=True)
genres_df.to_csv('genres.csv',index=True)
genres_df=pd.read_csv('genres.csv')
genres_df.head()

                                 genres
movieId
114709   [Animation, Adventure, Comedy]
113497      [Action, Adventure, Family]
113228                [Comedy, Romance]
114885         [Comedy, Drama, Romance]
113041        [Comedy, Family, Romance]

,movieId,A,n,i,m,a,t,o,|,d,...,p,M,S,-,W,N,k,w,V,G
0,114709,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,113497,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,113228,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,114885,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,113041,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0